<div>

    <form class="login-form">
        <div class="card login-card">
                <img class="card-img-top card-image"
                 src="https://i.pinimg.com/originals/dc/4e/5c/dc4e5c7f925e441f50d3c06a7eacc863.png"
                  alt="Card image cap">
            <div class="card-body d-flex flex-column">
              <input type="email" placeholder="email@example.com" />
              <input type="password" placeholder="***********" />
              <input type="submit" class="submit" value="Login"/>  
            </div>
          </div>
    </form>
</div>