.login-form {
  width: 50%;
  height: 50%;
  color: black;
  justify-content: center;
  margin: auto;
}

.login-card {
  width: 25rem;
  margin: auto;
}

.card-image {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}
