.login-form {
  width: 50%;
  height: 50%;
  color: black;
  justify-content: center;
  margin: auto;
}

.login-card {
  border-radius: 40px;
  margin: auto;
  height: 24rem;
}

.card-image {
  width: 150px;
  height: 151px;
  border-radius: 50%;
  margin: 24px auto;
}

input {
  border-radius: 15px;
  height: 2.3rem;
  margin: 10px 40px;
}

.submit {
  width: 50%;
  margin: auto;
}
